# **Data Wrangling**

<hr>

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [35]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

Finding the number of duplicate rows that exist in the dataframe.

In [36]:
df.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [37]:
df = df.drop_duplicates()
len(df)

11398

Verifying if duplicates were actually dropped.

In [38]:
df.duplicated().sum()

0

## Finding Missing values

In [6]:
df.isnull().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

## Imputing missing values

Finding the  value counts for the column WorkLoc.

In [7]:
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [8]:
df['WorkLoc'].isnull().sum()

32

In [9]:
mode = df['WorkLoc'].mode()[0]
mode

'Office'

Imputing all the empty rows in the column WorkLoc with the majority.

In [10]:
df['WorkLoc'] = df['WorkLoc'].fillna(mode)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [11]:
df['WorkLoc'].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section I created a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

This new column makes comparison of salaries easy.

<hr>

In [34]:
comp = df['CompFreq'].unique()
comp

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,11505,11513,11516,11518,11525,11526,11536,11537,11538,11542
0,61000.0,61000.0,61000.0,61000.0,61000.0,61000.0,61000.0,61000.0,61000.0,61000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,138000.0,138000.0,138000.0,138000.0,138000.0,138000.0,138000.0,138000.0,138000.0,138000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16.0,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11548,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11549,32000.0,32000.0,32000.0,32000.0,32000.0,32000.0,32000.0,32000.0,32000.0,32000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11550,210000.0,210000.0,210000.0,210000.0,210000.0,210000.0,210000.0,210000.0,210000.0,210000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11551,25142.0,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A natural science (ex. biology, chemistry, phy...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NormalizedAnnualCompensation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140000.0,111600.0,456000.0,650000.0,110000.0,67000.0,1250000.0,79000.0,80000.0,552000.0

Creating a new column named 'NormalizedAnnualCompensation'

In [33]:
df['NormalizedAnnualCompensation'] = pd.Series(dtype='float64')
for index,row in df.iterrows():
    if row['CompFreq'] == comp[0]:
        row['NormalizedAnnualCompensation'] = row['CompTotal']
        df.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal']
    elif row['CompFreq'] == comp[1]:
        row['NormalizedAnnualCompensation'] = row['CompTotal']*12
    elif row['CompFreq'] == comp[2]:
        row['NormalizedAnnualCompensation'] = row['CompTotal']*52
        
df['NormalizedAnnualCompensation'].median()
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,11505,11513,11516,11518,11525,11526,11536,11537,11538,11542
0,61000.0,61000.0,61000.0,61000.0,61000.0,61000.0,61000.0,61000.0,61000.0,61000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,138000.0,138000.0,138000.0,138000.0,138000.0,138000.0,138000.0,138000.0,138000.0,138000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16.0,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11548,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11549,32000.0,32000.0,32000.0,32000.0,32000.0,32000.0,32000.0,32000.0,32000.0,32000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11550,210000.0,210000.0,210000.0,210000.0,210000.0,210000.0,210000.0,210000.0,210000.0,210000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11551,25142.0,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A natural science (ex. biology, chemistry, phy...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NormalizedAnnualCompensation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140000.0,111600.0,456000.0,650000.0,110000.0,67000.0,1250000.0,79000.0,80000.0,552000.0